# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SecurePersonalCloud.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\DeepGreen\source\crypto\SecurePersonalCloud\.idea\.idea.SecurePersonalCloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
